/* flex.html的样式表 */

			body, html {
			  height: 100%;
			  -webkit-tap-highlight-color: transparent;
			}
			.placeholder {
				margin: 5px;
				padding: 5 10px;
				background-color: #b7e0fc;/* 每一个flex元素的背景颜色 */
				/* height: 2.3em;
				line-height: 2.3em; */
				text-align: center;
			}
			/* 任务整栏的背景颜色 */
			.flex-board {
				padding: 5px;
					margin-top: 20px;
					border:1px solid #a9c9e2;
					background:#d0eafd;
			}
			.flex-1 {
				height: 1.em;	
				line-height: 1em;
				border-radius:20px;
			}
			.flex-1-2 {
				display: none;
			}
			.flex-2 {
				height: 3em;
				line-height: 2em;
			}
			.flex-2-1 {
				line-height: 2em;
				text-align: start;
				background: #d0eafd;
			}
			.flex-2-button {
				width: 3.5em;
				background: #990066 ;
				font-size: 0.9rem;
				box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
			}
			.flex-3 {
				width: 97%;
				text-align: start;
				font-size: 0.8rem;
				background: #ffffff;
			}
			